doctype html
// This site was created in Webflow. http://www.webflow.com
// Last Published: Fri Dec 04 2015 12:47:40 GMT+0000 (UTC)
html(data-wf-site='5645c87b40b1b40042a0392c', data-wf-page='5645c87b40b1b40042a0392d')
  head
    meta(charset='utf-8')
    title Control_Acceso
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Webflow')
    link(rel='stylesheet', type='text/css', href='../public/webflowStylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='../public/webflowStylesheets/webflow.css')
    link(rel='stylesheet', type='text/css', href='../public/webflowStylesheets/control-acceso-4377e9.webflow.css')
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
    script.
      WebFont.load({
      google: {
      families: ["Bitter:400,700,400italic","Varela Round:400","Monofett:regular","Architects Daughter:regular","Audiowide:regular"]
      }
      });
    script(type='text/javascript', src='../public/webflowJs/modernizr.js')
    link(rel='shortcut icon', type='image/x-icon', href='https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico')
    link(rel='apple-touch-icon', href='https://daks2k3a4ib2z.cloudfront.net/img/webclip.png')
  body.body
    .w-nav.nav(data-collapse='all', data-animation='over-right', data-duration='400', data-contain='1')
      .w-container.navcontainer
        a.w-nav-brand.homelink(href='#')
          img.homeimage(width='70', height='70', src='../public/webflowImages/sshot-1.png')
        h1.nombreempresa ControlFid
        nav.w-nav-menu.nevmenuopen(role='navigation')
          a.w-nav-link.navlink._2.home(href='#Home') HOME
          a.w-nav-link.navlink._2(href='#quees2') que es
          a.w-nav-link.navlink._2(href='#ComoFunciona') COMO FUNCIONA
          a.w-nav-link.navlink._2(href='#Contacto') CONTACTO
          a.w-nav-link.navlink._2(href='#RegistroApp') REGISTRO APP
          a.w-nav-link.navlink._2(href='#AccesoApp') ACCESO APP
          a.w-nav-link.navlink._2(href='/app/views/index.jade') DEMO
        .w-nav-button.menubutton
          .w-icon-nav-menu.hamburger
        a.textlinknav(href='#AccesoApp') Log In
        a.textlinknav(href='#RegistroApp') Sign Up
    #Home.w-section.section.home
      .w-slider.slider(data-animation='slide', data-duration='500', data-infinite='1', data-delay='4000', data-autoplay='1')
        .w-slider-mask
          .w-slide
            a.w-button.cta.home(href='#quees2') ¿QUE ES?
            img.imageslider(src='../public/webflowImages/cropped.jpg')
          .w-slide
            a.w-button.cta(href='#RegistroApp') Prueba la demo
            img.imageslider(src='../public/webflowImages/sshot-3.png')
          .w-slide
            a.w-button.cta.contactanos(href='#Contacto') contactanos
            img.imageslider(src='../public/webflowImages/BANNER-CONTROL-DE-ACCESOS-e1390333726292.jpg')
        .w-slider-arrow-left
          .w-icon-slider-left.flechaslider
        .w-slider-arrow-right
          .w-icon-slider-right.flechaslider
    #quees2.divblock
      #quees.w-section.section.quees(data-ix='sectionload')
        h1.tituloseccion ¿Qué es?
        .w-row.columnas
          .w-col.w-col-6.w-clearfix
            img.imagecolumna(src='../public/webflowImages/control-acceso.jpg')
            .w-richtext.richtext
              h5 What’s a Rich Text element?
              p
                | The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.
              h5 Static and dynamic content editing
              p
                | A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!
              h5 How to customize formatting for each rich text
              p
                | Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.
          .w-col.w-col-6
            img.imagecolumna(src='../public/webflowImages/800px-horde-portal.png')
            .w-richtext.richtext
              h5 What’s a Rich Text element?
              p
                | The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.
              h5 Static and dynamic content editing
              p
                | A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!
              h5 How to customize formatting for each rich text
              p
                | Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.
    #ComoFunciona.divblock
      .w-section.section.comofunciona(data-ix='sectionload')
        h1.tituloseccion ¿Como funciona?
        .w-slider.slider(data-animation='slide', data-duration='500', data-infinite='1', data-delay='4000', data-autoplay='1')
          .w-slider-mask.maskcomo
            .w-slide.w-clearfix.slider
              h1.tituloseccion._2 SENSOR
              img.imagenslider2(src='../public/webflowImages/f95858f8d7b8064f4ad5ae851ef30cff.jpg')
              p.parrafoslider2
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                br
                br
                br
                |  Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
            .w-slide.w-clearfix.slider2
              h1.tituloseccion._2 aplicación
              img.imagenslider2(src='../public/webflowImages/sshot-4.png')
              p.parrafoslider2
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                br
                br
                br
                | Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          .w-slider-arrow-left
            .w-icon-slider-left.flechaslider
          .w-slider-arrow-right
            .w-icon-slider-right
    #Contacto.divblock
      .w-section.section.contacto(data-ix='sectionload')
        h1.tituloseccion CONTACTO
        p.parrafocontacto
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        .w-form.formulario
          form#email-form(name='email-form', data-name='Email Form')
            label(for='name') Name:
            input#name.w-input.input(type='text', placeholder='Enter your name', name='name', data-name='Name')
            label(for='email') Email Address:
            input#email.w-input.input(type='email', placeholder='Enter your email address', name='email', data-name='Email', required='required')
            label(for='field') Mensaje:
            textarea#field.w-input.input(placeholder='Example Text', name='field')
            input.w-button.submit(type='submit', value='Submit', data-wait='Please wait...')
          .w-form-done
            p
              | Gracias por contactarnos!!!
              br
              | En breve recibirás la respuesta
          .w-form-fail
            p Oops! Something went wrong while submitting the form
    #RegistroApp.divblock
      .w-section.section.registroapp(data-ix='sectionload')
        h1.tituloseccion REGISTRO APP
        p.parrafocontacto
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        .w-form.formulario
          form#email-form(name='email-form', data-name='Email Form')
            label.fieldlabel(for='name-2') Name:
            input#name-2.w-input.input(type='text', placeholder='Enter your name', name='name-2', data-name='Name 2')
            label.fieldlabel(for='email-2') Password:
            input#email-2.w-input.input(type='email', placeholder='Enter your password', name='email-2', data-name='Email 2', required='required')
            input.w-button.submit(type='submit', value='Enviar', data-wait='Please wait...')
          .w-form-done
            p
              | Gracias por registrarte!!! 
              br
              | Revisa tu correo para acceder a la demo
          .w-form-fail
            p Oops! Something went wrong while submitting the form
    #AccesoApp.divblock
      .w-section.section.accesoapp(data-ix='sectionload')
        h1.tituloseccion ACCESO APP
        p.parrafocontacto
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        .w-form.formulario
          form#email-form(name='email-form', data-name='Email Form', data-redirect='/app/views/index.jade')
            label.fieldlabel(for='name-3') Name:
            input#name-3.w-input.input(type='text', placeholder='Enter your name', name='name-3', data-name='Name 3')
            label.fieldlabel(for='email-3') Password:
            input#email-3.w-input.input(type='email', placeholder='Enter your password', name='email-3', data-name='Email 3', required='required')
            input.w-button.submit(type='submit', value='Enviar', data-wait='Please wait...')
          .w-form-done
            p Thank you! Your submission has been received!
          .w-form-fail
            p Oops! Something went wrong while submitting the form
    #Footer.w-section.w-clearfix.section.footer
      img.homeimage.footer(width='75', src='../public/webflowImages/sshot-1.png')
      a.w-button.footerlink.padding(href='#AccesoApp') Acceso APP
      a.w-button.footerlink.padding(href='#RegistroApp') Registro APP
      a.w-button.footerlink.padding(href='#Contacto') Contacto
      a.w-button.footerlink(href='#ComoFunciona') ¿Còmo funciona?
      a.w-button.footerlink.padding(href='#quees2') ¿Qué es?
      a.w-button.footerlink.padding(href='#Home') Home
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='../public/webflowJs/webflow.js')
    //if lte IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
